{% extends "base.html" %}
{% block content %}
<form class="freshii-form" method="POST" , action="{{ url_for('dashboard') }}">
    <div class="container mt-5 pt-5">
        <div class="row mb-4">
            <div class="col-md-2 mb-3">
                <label class="mb-2" for="date">Date:</label>
                <input type="date" id="date" name="date" class="form-control p-2" required>
            </div>
            {% with messages = get_flashed_messages(with_categories=true)%}
            {% if messages%}
            {% for category, message in messages%}
            <div class="col-md-6 mb-3">
                <label class="mb-2"></label>
                <div class="alert alert-{{ category }} text-center" role="alert">
                    {{ message }}
                </div>
            </div>
            {%endfor%}
            {%endif%}
            {%endwith%}

        </div>
        <div class="row mb-4">
            <div class="col-md-12 mb-3">
                <div class="row mb-4">
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d0.01">$0.01</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d0.01" name="c1"
                            class="form-control p-2" oninput="calculateAllValue()">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d0.05">$0.05</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d0.05" name="c5"
                            class="form-control p-2" oninput="calculateAllValue()">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d0.1">$0.1</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d0.1" name="c10" class="form-control p-2"
                            oninput="calculateAllValue()">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d0.25">$0.25</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d0.25" name="c25"
                            class="form-control p-2" oninput="calculateAllValue()">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d0.5">$0.5</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d0.5" name="c50" class="form-control p-2"
                            oninput="calculateAllValue()">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d1">$1</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d1" name="d1" class="form-control p-2"
                            oninput="calculateAllValue()">
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d2">$2</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d2" name="d2" class="form-control p-2"
                            oninput="calculateAllValue()">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d5">$5</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d5" name="d5" class="form-control p-2"
                            oninput="calculateAllValue()">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d10">$10</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d10" name="d10" class="form-control p-2"
                            oninput="calculateAllValue()">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d20">$20</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d20" name="d20" class="form-control p-2"
                            oninput="calculateAllValue()">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d50">$50</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d50" name="d50" class="form-control p-2"
                            oninput="calculateAllValue()">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="mb-2" for="d100">$100</label>
                        <input type="number" min=0 placeholder="0" step=1 id="d100" name="d100" class="form-control p-2"
                            oninput="calculateAllValue()">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-2">
                <label class="mb-2" for="total">Total</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" id="total" value="0" name="total_value" class="form-control p-2" readonly>
                </div>
            </div>
            <div class="col-md-2">
                <label class="mb-2" for="rolls">Coin Rolls</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                <input type="text" id="rolls" placeholder="0" name="rolls" class="form-control p-2" oninput="calculateAllValue()" required>
                </div>
            </div>
            <div class="col-md-2">
                <label class="mb-2" for="float">Float</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                <input type="text" id="float" value="150" name="float_value" class="form-control p-2" readonly>
                </div>
            </div>
            <div class="col-md-2">
                <label class="mb-2" for="drop">Cash Drop</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                <input type="text" id="drop" value="0" name="cash_drop" class="form-control p-2" readonly>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
<div class="container-fluid my-5 py-5">
    <div class="container-table">
        <table class="table table-bordered table-striped rounded-3">
            <thead class="thead-green">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">1 Cent</th>
                    <th scope="col">5 Cents</th>
                    <th scope="col">10 Cents</th>
                    <th scope="col">25 Cents</th>
                    <th scope="col">50 Cents</th>
                    <th scope="col">1 Dollar</th>
                    <th scope="col">2 Dollars</th>
                    <th scope="col">5 Dollars</th>
                    <th scope="col">10 Dollars</th>
                    <th scope="col">20 Dollars</th>
                    <th scope="col">50 Dollars</th>
                    <th scope="col">100 Dollars</th>
                    <th scope="col">Total</th>
                    <th scope="col">Coin Rolls</th>
                    <th scope="col">Float</th>
                    <th scope="col">Cash Drop</th>
                    <th scope="col">Entered By</th>
                    <th scope="col">Updated By</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                {% for row in data %}
                <tr>
                    <td>{{ row.date }}</td>
                    <td>{{ row.c1 }}</td>
                    <td>{{ row.c5 }}</td>
                    <td>{{ row.c10 }}</td>
                    <td>{{ row.c25 }}</td>
                    <td>{{ row.c50 }}</td>
                    <td>{{ row.d1 }}</td>
                    <td>{{ row.d2 }}</td>
                    <td>{{ row.d5 }}</td>
                    <td>{{ row.d10 }}</td>
                    <td>{{ row.d20 }}</td>
                    <td>{{ row.d50 }}</td>
                    <td>{{ row.d100 }}</td>
                    <td>${{ row.total_value }}</td>
                    <td>${{ row.rolls }}</td>
                    <td>${{ row.float_value }}</td>
                    <td>${{ row.cash_drop }}</td>
                    <td>{{ row.entered_by_user }}</td>
                    <td>{{ row.updated_by_user }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td class="text-center" colspan="18">No data found.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}