<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshii</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Basic&family=Fira+Code:wght@300..700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand mx-auto" href="#">
                <img src="/img/Freshii_logo.svg.png" width="150" height="100" alt="Logo">
            </a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Freshii</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>
    <form class="freshii-form" method="POST" , action="{{ url_for('index') }}">
        <div class="container mt-5 pt-5">
            <div class="row mb-4">
                <div class="col-md-2 mb-3">
                    <label class="mb-2" for="date">Date:</label>
                    <input type="date" id="date" name="date" class="form-control p-2" required>
                </div>
                {% with messages = get_flashed_messages(with_categories=true)%}
                {% if messages%}
                {% for category, message in messages%}
                <div class="col-md-6 mb-3">
                    <label class="mb-2"></label>
                    <div class="alert alert-{{ category }}" role="alert">
                       {{ message }}
                      </div>
                </div>
                {%endfor%}
                {%endif%}
                {%endwith%}

            </div>
            <div class="row mb-4">
                <div class="col-md-12 mb-3">
                    <div class="row mb-4">
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="c1">¢1</label>
                            <input type="number" min=0 placeholder="0" step=1 id="c1" name="c1" class="form-control p-2">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="c5">¢5</label>
                            <input type="number" min=0 placeholder="0" step=1 id="c5" name="c5" class="form-control p-2">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="c10">¢10</label>
                            <input type="number" min=0 placeholder="0" step=1 id="c10" name="c10" class="form-control p-2">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="c25">¢25</label>
                            <input type="number" min=0 placeholder="0" step=1 id="c25" name="c25" class="form-control p-2">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="c50">¢50</label>
                            <input type="number" min=0 placeholder="0" step=1 id="c50" name="c50" class="form-control p-2">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="d1">$1</label>
                            <input type="number" min=0 placeholder="0" step=1 id="d1" name="d1" class="form-control p-2">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="d2">$2</label>
                            <input type="number" min=0 placeholder="0" step=1 id="d2" name="d2" class="form-control p-2">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="d5">$5</label>
                            <input type="number" min=0 placeholder="0" step=1 id="d5" name="d5" class="form-control p-2">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="d10">$10</label>
                            <input type="number" min=0 placeholder="0" step=1 id="d10" name="d10" class="form-control p-2">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="d20">$20</label>
                            <input type="number" min=0 placeholder="0" step=1 id="d20" name="d20" class="form-control p-2">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="d50">$50</label>
                            <input type="number" min=0 placeholder="0" step=1 id="d50" name="d50" class="form-control p-2">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="mb-2" for="d100">$100</label>
                            <input type="number" min=0 placeholder="0" step=1 id="d100" name="d100" class="form-control p-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2">
                    <label class="mb-2" for="bag">Bag Amount</label>
                    <input type="text" id="bag" value=150 name="bag" class="form-control p-2" readonly>
                </div>
                <div class="col-md-2">
                    <label class="mb-2" for="locker">Locker Amount</label>
                    <input type="text" id="locker" value=0 name="locker" class="form-control p-2" readonly>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
    <div class="container my-5 py-5">
        <div class="container-table">
            <table class="table table-bordered table-striped rounded-3">
              <thead class="thead-green">
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">1 Cent</th>
                  <th scope="col">5 Cents</th>
                  <th scope="col">10 Cents</th>
                  <th scope="col">25 Cents</th>
                  <th scope="col">50 Cents</th>
                  <th scope="col">1 Dollar</th>
                  <th scope="col">2 Dollars</th>
                  <th scope="col">5 Dollars</th>
                  <th scope="col">10 Dollars</th>
                  <th scope="col">20 Dollars</th>
                  <th scope="col">50 Dollars</th>
                  <th scope="col">100 Dollars</th>
                  <th scope="col">Bag Amount</th>
                  <th scope="col">Locker Amount</th>
                </tr>
              </thead>
              <tbody>
                {% if data %}
                {% for row in data %}
                <tr>
                  <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>{{ row[3] }}</td>
                  <td>{{ row[4] }}</td>
                  <td>{{ row[5] }}</td>
                  <td>{{ row[6] }}</td>
                  <td>{{ row[7] }}</td>
                  <td>{{ row[8] }}</td>
                  <td>{{ row[9] }}</td>
                  <td>{{ row[10] }}</td>
                  <td>{{ row[11] }}</td>
                  <td>{{ row[12] }}</td>
                  <td>{{ row[13] }}</td>
                  <td>{{ row[14] }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="15">No data found.</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
        </div>
      </div>
    <script src="/js/index.js"></script>
</body>

</html>