{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center">Register</h1>
            <form class="freshii-form" method="POST" action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        {% with messages = get_flashed_messages(with_categories=true)%}
                {% if messages%}
                {% for category, message in messages%}
                <div class="col-md-6 mb-3">
                    <label class="mb-2"></label>
                    <div class="alert alert-{{ category }} text-center" role="alert">
                        {{ message }}
                        Click <a href="{{ url_for('login') }}">here</a> to return to the Login page.
                    </div>
                </div>
                {%endfor%}
                {%endif%}
                {%endwith%}
    </div>
</div>
{% endblock %}